# Mis alias git.
[alias]
	i = init
	st = status
	aa = add -A
	ct = commit -m
	co = checkout
	lg = log
	ph = push
	pl = pull
	sw = show
	bh = branch
	ce = clone
	rt = reset
	sch = switch
	fch = fetch
# Continuara...